<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<nav>
  <h1>MJJ's Perfect Pitch</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
        <br>
    {% else %}
      <button type="button" class="btn btn-info" onclick="location.href='{{url_for('upload.toupload') }}'">Extract From File</button>
      <button type="button" class="btn btn-info" onclick="location.href='{{url_for('youtube.toyoutube') }}'">Extract From Youtube</button>
    {% endif %}
  </ul>
</nav>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>





</body>

